
*{
    font-family:cursive;
}
#header {
    width: 90%;
    margin:auto;
}
#header #account {
    float: right;
    margin: 10px
}
#dishList >div{
    height: 100px;
}
#dishList .dishImage{
    float: left;
    top:10px;
    width:100px;
    height:100px;
    margin-right: 40px ;
    
}
#dishList .dishInfo{
}
#dishList .dishInfo div{
    display: inline;
    
}
#dishList .dishInfo .dishName{
    position: relative;
}
#dishList .dishInfo .dishCat{
    position: relative;
    left: 50px;
}
#dishList .dishInfo .dishPrice{
    display: block;
}


#shopList .shopImage{
     float: left;
    top:10px;
    width:100px;
    height:100px;
    margin-right: 40px ;
}

#menu {
    width: 90%;
    margin:auto;
}
#menu table {
    width:100%;
    margin: 20px;
}
#menu tr{
    width: 100%;
}
#menu td{
    align-content: center;
    margin: 3px;
    padding: 10px;
    width: auto;
    background-color:beige;
}
.menuButton{
    align-content: center;
    font-size: 120%;
    font-weight: bold;
}
.shopName{
    font-size: 25px;
}

#menu td:hover{
    color:red;
}

#content {
    width: 80%;
    margin: auto;
    height: 70%;
    background-color: cornsilk;
    padding: 10px 5%;
    
}

button {
    margin: 5px;
    padding: 2px;
    border-radius: 5px;
}
input {
    padding: 2px;
    margin: 3px;
}

div {
    width: 100%;
}

/*dish*/
#content .dishAction {
    width: 100%;
}

.shopsAction div{
    display: inline;
    margin: 3px 20px;
    
}
